<table class="table">
    <thead>
        <tr>
            <th scope="col"> Title </th>
            <th scope="col"> Duration min </th>
            <th scope="col"> position </th>
            <th scope="col"> Course id </th>
            {{#if admin}}
            <th scope="col"> Editar </th>
            <th scope="col"> Deletar </th>
            {{/if}}
        </tr>
    </thead>
    <tbody>
        {{#each lessons}}
        <tr>
            <th scope="row">{{title}}</th>
            <th scope="row">{{duration_min}}</th>
            <th scope="row">{{position}}</th>
            <th scope="row">{{course_id}}</th>
            {{#if ../admin}}
            <td><a href="telaUpdateLesson/{{id}}">Editar</a></td>
            <td><a href="lessons/delete/{{id}}">Deletar</a></td>
            {{/if}}
        </tr>
        {{/each}}
    </tbody>

</table>